.App {
  height: auto;
  width: 100vw;
  text-align: center;
  background-color: blue;
  padding: 5px;


}
.container{
  width: 100%;
}
.heading{
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
}
.arts-container{
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:30px;
}